<!-- Search & Sort Controls -->
<div class="card card-body bg-transparent mt-3 mb-3">
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
    <input id="search" type="text" class="form-control shadow-none" placeholder="Cari product...">
</div>
<div class="input-group mb-3">
    <select class="form-select shadow-none border-2" id="" aria-label="">
      <option selected disabled>Kategori</option>
      <option value="?">All</option>
      <option value="?category="basreng">Basreng</option>
      <option value="?category=frozen">Frozen</option>
      <option value="?category=makaroni">Makaroni</option>
      <option value="?category=cemilan">Lainnya</option>
    </select>
    <button id="sortBtn" type="button" class="btn btn-outline-secondary"><i class="bi bi-sort-up"></i> Harga Tertinggi</button>
    <button id="gridViewBtn" type="button" class="btn btn-outline-secondary"><i class="bi bi-columns-gap"></i></button>
    <button id="listViewBtn" type="button" class="btn btn-outline-secondary"><i class="bi bi-list-task"></i></button>
  </div>
</div>